.App {
  display: flex;
  flex-direction: column;
}
.Navbar {
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.Hero {
  margin: 0 auto;
}
.Airbnb-logo {
  width: 82px;
  margin: 22px 31px;
}

.Photo-grid {
  width: 396px;
  margin: 26px 77px;
}

.Hero-text {
  margin-left: 36px;
}

h1 {
  font-size: 36px;
  line-height: 39.6px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
}

p {
  width: 320px;
  font-size: 16px;
  line-height: 17.6px;
  margin-top: 0;
}
