.App {
  display: flex;
  flex-direction: column;
}
.Navbar {
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.Hero {
  margin: 0 auto;
}
.Airbnb-logo {
  width: 82px;
  margin: 22px 31px;
}

.Photo-grid {
  width: 396px;
  margin: 26px 77px;
}

.Hero-text {
  margin-left: 36px;
}

h1 {
  font-size: 36px;
  line-height: 39.6px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
}

p {
  font-size: 16px;
  line-height: 17.6px;
  margin-top: 0;
}
.card {
  width: 175px;
  margin-bottom: 44px;

  font-size: 12px;
  flex: 0 0 auto; /* ADD */
  display: flex; /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
}
.reviews {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 9px;
  margin-bottom: 9px;
}

.reviews span {
  font-size: 0.75rem;
  margin-left: 3px;
}

.card--star {
  height: 14px;
}

.card p {
  margin-bottom: 8px;
}
.cards-list {
  display: flex;
  gap: 20px;
}

section {
  padding: 20px;
}

.card--price {
  margin-top: auto;
}

p .card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
